<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="js/snowstorm-min.js"></script>
    　
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src='/js/index.js'></script>
</head>

<body id="body">
<img src="img/logo.png" id="logo" class="logo" onmouseover="setNewImage()" onmouseout="setOldImage()" />

<audio preload autoplay loop id="vd">
    <source src="music/A.mp3" type="audio/mpeg">
</audio>

<div class="hiddenNav" id="hiddenNav">
    <ul>
        <li><a href="#">離開世界</a></li>
        <li><a href="#">會員中心</a></li>
        <li><a href="/travel">旅遊計畫</a></li>
        <li><a href="/login">登入註冊</a></li>

    </ul>

</div>
</body>

</html>