<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>travel</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" type="text/css" href="css/travel.css">
  <script src='js/travel.js'></script>

  <style>

  </style>

</head>

<body>
<header class="main-header">
  <h1><span>旅遊企劃</span> </h1>
  <p>

  </p>
</header>

<main class="container">
  <section class="card">
    <img src="/img/travel1.jpg" alt="" />
    <div>
      <h3>山水之旅</h3>
      <p>
        一起來體驗中國的風土民情,以及水墨的文化傳承。
      </p>
      <a href="#" class="btn">立即預約</a>
    </div>
  </section>

  <section class="card" data-aos="fade-left">
    <img src="/img/travel2.jpg" alt="" />
    <div>
      <h3>logo之旅</h3>
      <p>
        來看看logo唷~
      </p>
      <a href="#" class="btn">立即預約</a>
    </div>
  </section>

  <section class="card" data-aos="fade-right">
    <img src="img/travel3.jpg" alt="" />
    <div>
      <h3>神隱之旅</h3>
      <p>
        煙花三月下揚州 , 孤帆遠影必輸進。
      </p>
      <a href="#" class="btn">立即預約</a>
    </div>
  </section>

  <section class="card" data-aos="fade-left">
    <img src="/img/travel4.jpg" alt="" />
    <div>
      <h3>首頁之旅</h3>
      <p>
        喝剩!!
      </p>
      <a href="#" class="btn">立即預約</a>
    </div>
  </section>

  <section class="card" data-aos="fade-right">
    <img src="/img/travel5.jpg" alt="" />
    <div>
      <h3>失戀之旅</h3>
      <p>
        要的快樂 , 我給不起。
      </p>
      <a href="#" class="btn">立即預約</a>
    </div>
  </section>
</main>
</body>


</html>
<script>
  AOS.init({
    offset: 400, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 1000 // values from 0 to 3000, with step 50ms
  });

</script>