@font-face {
    font-family: BB;
    src: url(../font/font1.ttf);
}


body {
    background-image: url('../img/背景4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.logo {
    position: relative;
    top: 90px;
    right: -30%;
    width: 40%;
    height: 100%;

}

.hiddenNav {
    position: fixed;
    top: 85%;
    width: 100%;

}

.hiddenNav li {
    list-style-type: none;
    float: right;
    margin-right: 12.5%;

}



.hiddenNav li a {
    text-decoration: none;
    color: black;
    font-family: BB;
    font-size: 40px;
    font-weight: 600;
    line-height: 70px;

    color: rgb(1, 11, 5);


}

.hiddenNav li a:hover {
    color: rgba(130, 127, 127, 0.735);
}


@media screen and (max-width:1440px) {



    .hiddenNav li a {
        text-decoration: none;
        color: black;
        font-family: BB;
        font-size: 30px;
        font-weight: 600;
        line-height: 70px;

        color: rgb(1, 11, 5);


    }
}